body {
	font-family: 'Yantramanav', sans-serif;
	input[type="submit"] {
		cursor: pointer;
	}
	a {
		text-decoration: none;
		color: #20ab50;
	}
	.all {
		.find {
			padding-top: 75px;
			width: 100%;
			padding-bottom: 75px;
			height: 1000px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			.mail {
				margin-top: 100px;
				display: flex;
				justify-content: center;
				width: 100%;
				font-size: 18pt;
				.mail_text {
					color: #20ab50;
					margin-right: 150px;
				}
			}
			.contaner_find {
				margin-top: 70px;
				flex-direction: row;
				width: 100%;
				display: flex;
				justify-content: space-around;
				.block {
					font-size: 15pt;
					line-height: 30px;
					.green {
						color: #1faa50;
					}
					.strong {
						font-weight: 600;
					}
				}
			}
			.mt {
				margin-top: 90px;
			}
			h1 {
				font-size: 30pt;
			}
			h2 {
				margin-top: 15px;
				margin-bottom: 10px;
				font-size: 18pt;
			}
		}
		.page_6 {
			margin-top: 75px;
		}
		.one_shoes {
			display: flex;
			height: 800px;
			width: 100%;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			h1 {
				margin-top: 50px;
				font-size: 30pt;
			}
			h2 {
				margin-top: -95px;
				font-size: 24pt;
			}
			h3 {
				font-size: 18px;
			}
		}
		.container {
			display: flex;
			width: 100%;
			height: 800px;
			.block_img {
				display: flex;
				width: 50%;
				height: 800px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.block_text {
				display: flex;
				width: 50%;
				height: 800px;
				justify-content: center;
				align-items: center;
			}
			.just_content_center {
				justify-content: center!important;
			}
			.text_container {
				width: 400px;
				height: 575px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				text-align: center;
				h1 {
					margin-bottom: 10px;
					font-size: 30pt;
					font-family: 'Yantramanav', sans-serif;
				}
				.align_text_center {
					text-align: center!important;
				}
				.spant_text_mt {
					margin-top: 100px;
				}
				.span_text {
					text-align: left;
					font-size: 16pt;
				}
			}
		}
		header {
			background: url(img/header_bg.png);
			height: 795px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.dot {
				position: absolute;
				margin-left: 550px;
			}
			.search {
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				width: 475px;
				border-radius: 5px;
			}
			input[type="search"] {
				padding-left: 25px;
				font-size: 18pt;
				color: #8c8c8c;
				border: none;
				outline: none;
				-webkit-appearance: none;
				width: 274px;
				vertical-align: middle;
				width: 310px;
				border-top-left-radius: 21px;
				border-bottom-left-radius: 21px;
				height: 47px;
			}
			input[type="submit"] {
				color: white;
				font-size: 20pt;
				width: 165px;
				height: 47px;
				border: none;
				background: #20ab50;
				border-top-right-radius: 21px;
				border-bottom-right-radius: 21px;
			}
			h1 {
				font-size: 60pt;
				color: white;
			}
			p {
				color: white;
				font-size: 20pt;
				margin-top: 30px;
				text-align: center;
				margin-bottom: 59px;
			}
			.logo {
				top: 30px;
				margin-left: -515px;
				position: absolute;
			}
		}
		footer {
			height: 450px;
			width: 100%;
			background: #f3f3f3;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h1 {
				font-weight: 600;
				font-size: 30pt;
			}
			h2 {
				margin-top: 15px;
				font-size: 22pt;
			}
			.search {
				margin-top: 50px;
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				width: 475px;
				border-radius: 5px;
			}
			input[type="search"] {
				padding-left: 25px;
				font-size: 18pt;
				color: #8c8c8c;
				border: none;
				outline: none;
				-webkit-appearance: none;
				width: 274px;
				vertical-align: middle;
				width: 310px;
				border-top-left-radius: 21px;
				border-bottom-left-radius: 21px;
				height: 47px;
			}
			input[type="submit"] {
				color: white;
				font-size: 20pt;
				width: 165px;
				height: 47px;
				border: none;
				background: #20ab50;
				border-top-right-radius: 21px;
				border-bottom-right-radius: 21px;
			}
		}
		.last {
			display: flex;
			justify-content: left;
			align-items: center;
			width: 100%;
			height: 45px;
			background: #dcdcdc;
			color: #ffff;
			font-size: 14pt;
			p {
				margin-left: 35px;
			}
		}
		margin: 0 auto;
		width: 1250px;
	}
}
