body {
  font-family: 'Yantramanav', sans-serif;
}
body input[type="submit"] {
  cursor: pointer;
}
body a {
  text-decoration: none;
  color: #20ab50;
}
body .all {
  margin: 0 auto;
  width: 1250px;
}
body .all .find {
  padding-top: 75px;
  width: 100%;
  padding-bottom: 75px;
  height: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .all .find .mail {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 18pt;
}
body .all .find .mail .mail_text {
  color: #20ab50;
  margin-right: 150px;
}
body .all .find .contaner_find {
  margin-top: 70px;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body .all .find .contaner_find .block {
  font-size: 15pt;
  line-height: 30px;
}
body .all .find .contaner_find .block .green {
  color: #1faa50;
}
body .all .find .contaner_find .block .strong {
  font-weight: 600;
}
body .all .find .mt {
  margin-top: 90px;
}
body .all .find h1 {
  font-size: 30pt;
}
body .all .find h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18pt;
}
body .all .page_6 {
  margin-top: 75px;
}
body .all .one_shoes {
  display: flex;
  height: 800px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .all .one_shoes h1 {
  margin-top: 50px;
  font-size: 30pt;
}
body .all .one_shoes h2 {
  margin-top: -95px;
  font-size: 24pt;
}
body .all .one_shoes h3 {
  font-size: 18px;
}
body .all .container {
  display: flex;
  width: 100%;
  height: 800px;
}
body .all .container .block_img {
  display: flex;
  width: 50%;
  height: 800px;
}
body .all .container .block_img img {
  width: 100%;
  height: 100%;
}
body .all .container .block_text {
  display: flex;
  width: 50%;
  height: 800px;
  justify-content: center;
  align-items: center;
}
body .all .container .just_content_center {
  justify-content: center!important;
}
body .all .container .text_container {
  width: 400px;
  height: 575px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
body .all .container .text_container h1 {
  margin-bottom: 10px;
  font-size: 30pt;
  font-family: 'Yantramanav', sans-serif;
}
body .all .container .text_container .align_text_center {
  text-align: center!important;
}
body .all .container .text_container .spant_text_mt {
  margin-top: 100px;
}
body .all .container .text_container .span_text {
  text-align: left;
  font-size: 16pt;
}
body .all header {
  background: url(img/header_bg.png);
  height: 795px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .all header .dot {
  position: absolute;
  margin-left: 550px;
}
body .all header .search {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 475px;
  border-radius: 5px;
}
body .all header input[type="search"] {
  padding-left: 25px;
  font-size: 18pt;
  color: #8c8c8c;
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 274px;
  vertical-align: middle;
  width: 310px;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
  height: 47px;
}
body .all header input[type="submit"] {
  color: white;
  font-size: 20pt;
  width: 165px;
  height: 47px;
  border: none;
  background: #20ab50;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}
body .all header h1 {
  font-size: 60pt;
  color: white;
}
body .all header p {
  color: white;
  font-size: 20pt;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 59px;
}
body .all header .logo {
  top: 30px;
  margin-left: -515px;
  position: absolute;
}
body .all footer {
  height: 450px;
  width: 100%;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .all footer h1 {
  font-weight: 600;
  font-size: 30pt;
}
body .all footer h2 {
  margin-top: 15px;
  font-size: 22pt;
}
body .all footer .search {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 475px;
  border-radius: 5px;
}
body .all footer input[type="search"] {
  padding-left: 25px;
  font-size: 18pt;
  color: #8c8c8c;
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 274px;
  vertical-align: middle;
  width: 310px;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
  height: 47px;
}
body .all footer input[type="submit"] {
  color: white;
  font-size: 20pt;
  width: 165px;
  height: 47px;
  border: none;
  background: #20ab50;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}
body .all .last {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 45px;
  background: #dcdcdc;
  color: #ffff;
  font-size: 14pt;
}
body .all .last p {
  margin-left: 35px;
}
